.page--introduction {

	.btn-group {

		> * + * {
			border-top: 1px solid var(--color-primary-tint-1);
		}

		+ * {
			margin-top: -2px;
		}

		.btn,
		a.btn {
			display: block;
			text-decoration: none;
			background: var(--color-primary-base);
			line-height: var(--line-height);
			color: white;
			font-size: 14px;
			font-weight: bold;

			i {
				height: 32px;
				width: 32px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background: var(--color-primary-shade-1);
				margin-right: 6px;
			}
		}
	}
}