.panel {
	box-sizing: border-box;
	margin-top: 0;
	background: var(--color-primary-base);
	color: white;

	.panel__header {
		padding: var(--line-height) var(--line-height) 0;

		.panel__title {
			font-size: 20px;
		}
	}

	.panel__body {
		padding: var(--line-height);
	}

	.panel__header,
	.panel__body {

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		hr {
			border-color: var(--color-primary-tint-1);
			margin-top: calc(var(--line-height) / -2);
			margin-bottom: calc((var(--line-height) / 2) - 1px);

			&:first-child,
			&:last-child {
				display: none;
			}
		}
	}
}