.page {
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
	display: inline-block;
	height: 1056px;
	overflow: hidden;
	position: relative;
	width: 816px;
	padding: 30px;
}